aiohttp==1.0.5
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.4
cycler==0.10.0
discord.py==0.16.8
google-api-python-client==1.6.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
imgurpython==1.1.7
matplotlib==2.0.2
multidict==3.0.0
numpy==1.13.0
oauth2client==4.1.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
urllib3==1.26.5
virtualenv==15.1.0
websockets==3.3
